<a href="https://colab.research.google.com/github/Mamoun45/Mamoun45/blob/main/digit_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [4]:
dataset = pd.read_csv('/content/data.csv')

In [5]:
dataset.head()

,ID,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
dataset.shape

(999, 785)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Columns: 785 entries, ID to pixel783
dtypes: int64(785)
memory usage: 6.0 MB

In [8]:
dataset.isna().sum()

ID          0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

In [9]:
x = dataset['ID']
dataset.drop( 'ID' , axis=1, inplace=True)

In [10]:
scaler = StandardScaler()

scaler.fit(dataset)

scaled_data = scaler.transform(dataset)

In [11]:
kmeansmodel = KMeans(n_clusters=19, random_state=40)
y_kmeans = kmeansmodel.fit_predict(dataset)
y_kmeans

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

array([16,  9, 18,  2,  9, 13, 15, 12, 17, 10,  7,  4, 18,  3, 12, 18,  3,
        0,  4,  3,  7,  8, 10,  9,  3, 12,  5,  4, 15,  6,  7,  2, 11, 11,
        5, 18, 12, 18, 16, 11, 12, 18,  2, 15, 18,  8, 12, 15,  4, 11, 15,
        3, 18,  2,  9, 18, 10, 12,  4, 18, 18, 16,  6,  0,  5, 12,  2,  3,
       16, 13,  7, 15,  5, 10, 16, 11, 15, 18,  2, 16,  1, 11,  7, 15, 10,
       15,  4, 12, 15,  2,  3,  8, 15,  8,  2,  4, 18, 10,  0, 17, 11, 10,
        4, 15, 11,  7, 16,  3, 13,  8,  9,  8, 10,  2,  0,  2,  6, 16, 18,
       12,  2,  4, 11,  5, 16,  8,  4,  5,  8,  0,  2,  3,  7,  8, 16, 16,
       15, 12,  6, 12, 18,  0, 12, 11,  1, 11, 13,  1, 11,  0, 12,  1, 16,
       13,  7, 12,  4,  0, 15,  5,  8, 15,  1, 11, 18, 15, 16, 12,  2, 14,
       11, 15,  4, 15,  1, 15,  3,  7, 10,  5,  4, 12, 16,  9,  4, 16, 17,
       11,  0,  5, 16,  1, 15, 13, 13,  0, 13,  1,  3, 14, 13,  8,  8,  9,
        0,  2,  6, 14,  4, 18, 15, 15, 12, 15,  3,  2, 18,  1, 16, 12,  7,
       18, 16, 15, 16, 12,  6,  5, 10,  5, 12,  5, 12, 10, 18,  8, 16,  6,
       15, 10, 14, 14,  4, 17,  1,  7, 15, 10,  9, 16, 11,  8,  5, 12, 15,
       16, 18, 16, 11,  6,  9, 10, 15, 10,  0, 17,  8, 13,  1,  2,  5, 10,
        9, 13,  6, 14, 13,  2, 10,  5, 15, 16,  5, 15, 10,  9,  9, 10,  9,
        8, 16, 11, 13, 15, 10, 18,  4,  3, 13,  2,  7, 17, 14,  2,  4,  4,
       14, 15,  6,  2, 15, 12,  0, 16, 12,  8, 12,  8,  3,  7,  3,  4,  9,
        4, 10,  6,  4,  9,  4, 11, 17,  7,  2, 12,  3, 18,  6,  7, 15,  4,
       18, 14, 16,  6,  0, 17,  8, 17, 10,  2, 13, 16,  5,  0, 14, 14,  4,
        9,  6,  4, 18, 14,  8, 12,  2,  7, 13,  1,  4,  5, 10, 18, 15,  0,
        5,  0, 15,  8, 11, 12, 16,  1,  2, 14,  4, 17,  6,  7, 18, 17,  2,
        1, 12,  4, 12,  7,  8, 11, 16,  8, 18, 16,  4,  0,  0, 17,  7,  5,
        6, 11, 14,  7,  0, 14, 17,  4,  3, 17, 13, 18,  2, 12,  8, 15, 18,
       12, 18,  1,  8,  1, 11, 12, 10,  0,  8, 13,  2, 11, 10, 15,  7, 15,
        5,  3, 14, 15,  2,  8, 11,  7, 11, 18,  6, 17,  7,  1, 17,  2,  4,
       15,  1,  7, 10,  7, 15, 14,  7, 15, 16,  2, 12,  5,  0, 14, 10, 11,
       18, 14,  4, 14, 16, 12, 11, 11, 16,  7, 13, 14, 14, 12,  2, 16, 17,
       15, 11, 16,  2, 18, 17,  9,  5, 15, 13, 13,  4,  5,  7, 10,  9,  6,
       12, 17,  7, 10,  7, 14,  1, 18,  1,  7, 11,  6, 16, 10,  2, 17,  3,
       18,  1, 18, 15,  2,  8, 17,  7,  2, 14,  3, 13,  1, 16, 15,  0,  1,
       18, 10,  2, 14, 11, 18,  5, 16, 13, 11, 15,  0,  0, 17, 15,  3, 12,
        1,  4, 15, 15, 12, 11, 16, 12, 17,  8,  1, 10, 15, 14, 11, 14, 11,
       18, 14,  1, 12,  4,  5, 18,  9,  2,  1, 11,  1, 18,  8,  4,  6, 18,
        8,  3, 12, 18, 10, 10,  9, 12, 13,  5,  3,  3,  8, 18,  4, 12,  7,
       16,  6,  4, 12,  2, 14, 16, 12,  4, 11, 10, 10, 12,  8, 16,  9, 16,
        7,  5,  4, 18, 16,  8,  9, 14,  3,  9,  4,  3,  2, 16, 14,  4, 16,
       15,  3, 18, 11,  2, 17, 18,  7,  6,  6, 15,  4,  0,  8, 15, 11,  1,
        8, 18,  3,  4,  2, 15, 14, 17,  0,  7, 11,  7, 17, 13,  2, 15,  5,
        4,  9, 10, 16,  8, 17,  1, 16, 18,  4, 16,  4,  7,  8,  2,  6, 17,
       12, 16,  8, 11, 12, 15, 11, 16,  7, 12, 17, 18,  4, 16, 18,  7,  5,
        2, 17,  6,  7, 18, 10,  3, 15,  5, 15, 16, 10, 12, 12,  9, 12,  0,
        7, 13,  7,  3, 16, 12, 17,  6, 13, 17, 15, 13, 13, 15, 16,  7, 18,
       16,  5,  8,  1,  1, 15,  3, 16,  5,  0, 10, 14, 16,  9, 15, 18, 13,
       16,  1, 17, 12, 14,  4, 15, 12,  8, 13, 18,  8, 18, 17,  2,  7,  0,
        1, 13,  5, 10, 15,  5,  5,  5, 16,  8,  4,  7, 14,  0,  8,  0,  7,
       13,  1, 12,  8, 15, 11,  3, 15, 15,  6,  9, 15, 16, 10, 10,  1, 14,
       15,  9,  2, 13, 17,  3,  7,  4, 15,  2, 16, 11, 13, 18, 18, 10, 12,
        8, 10,  0,  5,  5, 18, 15,  2,  1, 14,  4,  6, 15, 11,  3,  7, 12,
        1,  1,  8,  7, 13,  6,  6, 18, 16,  5,  5,  4,  0, 11,  2, 11, 18,
       12, 15,  2,  9,  6,  4, 12,  4,  8,  8,  7,  7, 10,  6, 13, 11,  1,
        7,  6, 13,  7,  2,  4,  2,  0,  8, 15,  7,  8,  8,  7,  5,  4, 17,
       14,  6,  3,  8, 14, 10,  2, 10,  4,  2, 16,  6, 14, 11,  3, 18,  2,
       11,  0, 15,  2,  5, 17,  0, 16, 10, 10,  3, 11,  1,  6, 16,  9,  8,
        7, 15, 16,  6,  2, 10,  5, 12, 15, 11, 18,  0, 18, 10,  1,  2, 11,
       15,  7,  5,  4, 14,  3,  3, 12, 10,  4,  0, 11, 16,  8,  4,  4, 17,
       18,  2, 12,  6,  7,  0, 18,  0, 14, 15,  6,  5, 14, 14,  8, 11, 13,
       18,  7, 18,  4,  5, 12, 13,  9,  5, 10,  1, 15,  8], dtype=int32)

In [12]:
kmeansmodel.cluster_centers_

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [13]:
from collections import Counter
Counter(kmeansmodel.labels_)

Counter({16: 69,
         9: 31,
         18: 69,
         2: 59,
         13: 40,
         15: 82,
         12: 66,
         17: 38,
         10: 54,
         7: 60,
         4: 64,
         3: 39,
         0: 41,
         8: 57,
         5: 48,
         6: 39,
         11: 56,
         1: 43,
         14: 44})

In [14]:
f =pd.DataFrame(y_kmeans)
f.rename(columns={0:"label"},inplace=True)
f.insert(0,'ID',x)
f.to_csv('predicted.csv',index = False)